body{
    background: rgb(9,71,121);
    background: linear-gradient(90deg, rgba(9,71,121,1) 21%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);}
h1 {
    font-size: 40px;
    font-family: Impact;
}
p {
    font-size: 25px;
}
button {
    width: 150px;
    height: 40px;
    background: rgb(9,71,121);
    color: white;
    border:none;
    border-radius: 10px ;
}
button:hover {
    background: linear-gradient(90deg, rgba(9,71,121,1) 21%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);
}
div {
    color: white;
    text-align: center;
}